[submodule "oh-my-zsh"]
	path = third_party/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs"]
	path = third_party/emacs
	url = https://github.com/emacs-mirror/emacs.git
[submodule "vim"]
	path = third_party/vim
	url = https://github.com/vim/vim.git
[submodule "zsh"]
	path = third_party/zsh
	url = https://github.com/zsh-users/zsh.git
